
<div class="forms">
<form action="/contributions_save"> 
    <h2>Adding a contributions</h2>
  <label for="contributor_id">contributor id</label>
  <select name="contributor_id">
    <% Contributor.all.each do |person| %>
    <option value= "<%= person.id %>" ><%= person.name %> </option>
    <% end %>
  </select></br></br>
  
  <label for="assignment_id">Assignment</label>
  <select name="assignment_id">
    <% Assignment.all.each do |task| %>
    <option value= "<%= task.id %>" ><%= task.description %> </option>
    <% end %>
  </select></br></br>
  <input type="submit">
</form>

<form action="/contributions_delete">
  <h2>deleting contributions </h2>
  
  <label for="contributor_id">please enter <b>one</b> contributor id number of the contribution you'd like to delete. </label> 
  <input type="text" placeholder="1" name="contributor_id"></br></br>
  <label for="assignment_id">please enter <b>one</b> assignment id number of the contribution you'd like to delete. </label> 
  <input type="text" placeholder="2" name="assignment_id">
  <input type="submit">
</form>

</div>

<div class="list">
    <h2>Current contributions</h2>
<ul>
  <% Contribution.all.each do |project| %>
  <li> ID <%= project.contributor_id %> – <%= project.assignment_id %> </li>
  <% end %>
</ul>
</div>

